 /* nav link */
 .nav-link{

  margin-right: 25px;
  margin-left: 25px;
  }
  /* nav link end */
 .carousel-caption{
bottom: 300px;
text-align: center;
}
  .carousel-caption h1{
  font-size: 50px;
  margin-top: 25px;
  letter-spacing: 2px;
  }
 .carousel-caption p{
    width: 60%;
    margin:auto ;
    font-size: 18px;
    line-height: 1;
    }
 .caro-img{
background-color: #1D1D1D;
}
.opa-img{

   opacity: 0.5;
}
.up{
  width: 80px;
  
}




.card-body{
   width: 100%;
}
.bor{
   border-radius: 40%;
}

.fa{
   font-size: 45px;
   font-weight: 700;
   margin: 0 0 20px 0;
   position: relative;
   display: inline-block;
   border-bottom: solid #ebebed;
   

}
.pro{
   width:195px;
   color: gray;


}
.pro-1{
   width: 205px;
   color: gray;
}
.pro-2{
   width: 160px;
   color: gray;
}
.pro-3{
   width: 280px;
   color: gray;
}
.pro-4{
   width: 240px;
   color: gray;
}
.pro-5{
   width:240px ;
   color: gray;
}
 .icon i{
   color: var(--color-secondary);
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
 } 
 .icon:before {
   position: absolute;
   content: "";
   height: 18%;
   width: 12%;
   background: #f0f1f2;
   border-radius: 50px;
   z-index: 1;
   top: 35px;
   left: 30px;
   transition: 0.3s;
   background-color:orange ;
 }
 .more{
   text-decoration: none;
 }
 .img-card{
   width: 20%;
   height: 20%;
   position: relative;
   z-index: 1;
   left: -50px;
   top:20px;
 }
   /* /* Blog Posts start */
 .post-date{
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  background-color: orange;
  color: #fff;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}

.post-title{
  font-size: 24px;
  color:#52565e;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.post-title:hover{
  color: #feb900;
}
.read-more{
  text-decoration: none;
  color: #52565e;
  transition: 0.3s;
}
.read-more:hover{
  color: #feb900;
}

 
/*Footer*/
.footer {
  color: #fff;
  background: url("/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  font-size: 14px;
  padding: 80px 0 60px 0;
  position: relative;
  margin-top: 40px;
}
.footer:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
}
.footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social-links a:hover {
  background: #feb900;
  text-decoration: none;
}
.footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
.footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  line-height: 3;
}
.footer-links ul a:hover {
  color: #fff;
}
.copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.credits {
  padding-top: 4px;
  font-size: 13px;
  color: #fff;
}
.credits a {
  color: #feb900;
  text-decoration: none;
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* footer end */


.pro-card{
  background-color: #1D1D1D;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color:.3s ease-in-out;
  display: block;
  overflow: hidden;


}
.pro-card img:hover{
  opacity: 25%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
transition:0.5s ;

}